<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/order-form/styles.css">
        <title> <%= title %> </title>
    </head>
    <body>
        <h1>This is what you ordered!</h1>
        <p><%= order %><%= size %><%- console.log('here we are.') %>  </p>
    </body>
    <footer>

    </footer>
</html>